.profile__input {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  color: black;

  border: none;

  background-color: #202020;
}

.profile__input:focus {
  outline: none;
}

.profile__input::-webkit-input-placeholder {
  color: black;
  text-align: end;
}

.profile__input::-moz-placeholder {
  color: black;
  text-align: end;
}

.profile__input::-ms-input-placeholder {
  color: black;
  text-align: end;
}

.profile__input::placeholder {
  color: black;
  text-align: end;
}

.profile__input_black::-webkit-input-placeholder {
  color: grey;
}

.profile__input_black::-moz-placeholder {
  color: grey;
}

.profile__input_black::-ms-input-placeholder {
  color: grey;
}

.profile__input_black::placeholder {
  color: grey;
} 

.profile__input_black {
  color: white;
}