.about-project__scale-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

  margin-top: 110px;
  margin-bottom: 110px;
}

@media screen and (max-width: 400px) {
  .about-project__scale-container {
    grid-template-columns: repeat(3, 1fr);
  }
}