.movies-card__like {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;

  background-color: #F5F5F5;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  transition: .2s;
}

.movies-card__like:hover {
  transform: scale(1.3, 1.3);
  border: solid 1px red;
  transition: .2s;
}