.about-project__scale-big-part {
  background-color: #F2F2F2;

  grid-column-start: 2;
  grid-column-end: 6;

  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .about-project__scale-big-part {
    grid-column-end: 4;
  }
}