.more-films-button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  margin: 50px 0 0 0;
  background-color: #202020;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal; 
  font-size: 12px;

  border: solid 2px #424242;
  border-radius: 6px;

  transition: .2s;

  color: white;


}

.more-films-button:hover {
  color: #2BE080;
  box-shadow: 3px 3px 15px #2BE080, -3px -3px 15px #2BE080;
  transition: .2s;
  cursor: pointer;
}

/* @media screen and (max-width: 1150px) {
  .more-films-button {
    width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .more-films-button {
    width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .more-films-button {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .more-films-button {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .more-films-button {
    width: 708px;
  }
}

@media screen and (max-width: 710px) {
  .more-films-button {
    width: 650px;
  }
}

@media screen and (max-width: 650px) {
  .more-films-button {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .more-films-button {
    width: 550px;
  }
}

@media screen and (max-width: 550px) {
  .more-films-button {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .more-films-button {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .more-films-button {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .more-films-button {
    width: 350px;
  }
} */

@media screen and (max-width: 350px) {
  .more-films-button {
    width: 300px;
  }
}