.page-not-found__back {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #3456F3;

  border: none;
  background-color: #fff;

  margin-top: 184px;

  cursor: pointer;
}