.promo__title {
  color: white;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 40px;
  line-height: 1.3;
  font-weight: normal;

  text-align: left;

  max-width: 730px;

  margin: 0;
  padding-left: 70px;
  padding-bottom: 406px;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .promo__title {
    text-align: center;
    padding: 300px 0 440px 0;
  }
}

@media screen and (max-width: 420px) {
  .promo__title {
    font-size: 31px;
  }
}