.movies-card-list__nothing-found-title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 100px;
  line-height: auto;
  color: red;

  margin-top: 30px;
  margin-bottom: 20px;
}