.techs__icon-text {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: auto;
}

@media screen and (max-width: 768px) {
  .techs__icon-text {
    font-size: 12px;
  }
}