@import url(./Promo/promo.css);
@import url(./NavTab/nav-tab.css);
@import url(./AboutProject/about-project.css);
@import url(./Techs/techs.css);

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}