.auth-form__input {
  background-color: #F9F9F9;
  border: none;
  border-radius: 8px;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;

  margin-top: 10px;
  padding: 0;

  height: 46px;
}