@import url(./__borderline/portfolio__borderline.css);
@import url(./__paragraph/portfolio__paragraph.css);
@import url(./__links/portfolio__links.css);
@import url(./__link-arrow/portfolio__link-arrow.css);
@import url(./__link/portfolio__link.css);
@import url(./__title/portfolio__title.css);
@import url(./__link-container/portfolio__link-container.css);

.portfolio {
  width: 100%;

  padding: 100px 70px 125px 70px;

  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .portfolio {
    padding-left: 40px;
    padding-right: 40px;
  }
}