.popup__try-again-button {
  margin: 0 0 20px 0;
  padding: 20px 10px;
  background-color: #2BE080;
  border: none;
  border-radius: 5px;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.12;
  color: white;
}

.popup__try-again-button:hover {
  cursor: pointer;
}