@import url(./__description/techs__description.css);
@import url(./__icon-text/techs__icon-text.css);
@import url(./__icon/techs__icon.css);
@import url(./__icon/_black/techs__icon_black.css);
@import url(./__icons/techs__icons.css);
@import url(./__number/techs__number.css);

.techs {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #F5F5F5;

  padding: 100px 70px;

  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .techs {
    padding-left: 40px;
    padding-right: 40px;
  }
}