@import url(./__input/filter-checkbox__input.css);
@import url(./__label/filter-checkbox__label.css);

.filter-checkbox {
  margin: 0 0 0 30px;
  padding: 0;
  
  border: none;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .filter-checkbox {
    margin-top: 45px;
  }
}