.search-form__input {
  border: none;

  background-color: #2F2F2F;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;

  width: 100%;
}

.search-form__input:focus {
  outline: none;
}