@import url(./__img/promo__img.css);
@import url(./__title/promo__title.css);

.promo {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: center no-repeat;
  background-image: url(../../../images/promo.svg);
  background-color: #073042;

  /* background: center no-repeat url(../../../images/promo.svg); */

  padding-top: 184px;
  padding-bottom: 224px;
}