.header__link {
  margin: 0 0 0 20px;
  padding: 0;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.28;

  text-decoration: none;

  color: black;

  transition: .3s;
}

.header__link:first-child {
  margin: 0;
}

.header__link:hover {
  color: #2BE080;

  transition: .3s;
}