.menu-popup__nav {
  width: 520px;
  height: 100vh;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  box-sizing: border-box;

  padding-top: 22px;
  padding-bottom: 92px;
}

.menu-popup__nav_black {
  background-color: #202020;
}