.techs__icon {
  width: 90px;
  height: 60px;
  border-radius: 10%;
  background-color: #E8E8E8;

  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__icon:first-child {
  margin-left: 0;
}